<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.16.1" targetFramework="net46" />
  <package id="AngleSharp.Css" version="0.16.1" targetFramework="net46" />
  <package id="HtmlSanitizer" version="6.0.453" targetFramework="net46" />
  <package id="Konscious.Security.Cryptography.Argon2" version="1.2.1" targetFramework="net46" />
  <package id="Konscious.Security.Cryptography.Blake2" version="1.0.9" targetFramework="net46" />
  <package id="log4net" version="2.0.5" targetFramework="net46" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net46" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net46" />
  <package id="System.Text.Encoding.CodePages" version="5.0.0" targetFramework="net46" />
</packages>